.bottom-bar {
  @include flex(row, center, center);
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    @include flex(column, flex-start, center);
    width: 25%;
    min-height: 100px;
    padding: 20px 0;

    p {
      margin: 0;
    }
  }

  &__main-item {
    @include flex(column, center, center);
    flex: 1;
    font-size: 1.5rem;
    font-weight: 300;

    span {
      font-size: 0.85rem;
    }
  }
}
