.loader {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  @include size(175px, 175px);
  margin: auto;

  &__dot {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    @include size(87.5px, 100%);
    margin: auto;

    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      @include size(87.5px, 87.5px);
      content: '';
      border-radius: 100%;
      transform: scale(0);
    }

    &:nth-child(7n+1) {
      transform: rotate(45deg);
    }

    &:nth-child(7n+2) {
      transform: rotate(90deg);
    }

    &:nth-child(7n+2)::before {
      animation: 0.8s linear 0.2s normal none infinite running load;
      background: #00ffea none repeat scroll 0 0;
    }

    &:nth-child(7n+3) {
      transform: rotate(135deg);
    }

    &:nth-child(7n+3)::before {
      animation: 0.8s linear 0.3s normal none infinite running load;
      background: #00aaff none repeat scroll 0 0;
    }

    &:nth-child(7n+4) {
      transform: rotate(180deg);
    }

    &:nth-child(7n+4)::before {
      animation: 0.8s linear 0.4s normal none infinite running load;
      background: #0040ff none repeat scroll 0 0;
    }

    &:nth-child(7n+5) {
      transform: rotate(225deg);
    }

    &:nth-child(7n+5)::before {
      animation: 0.8s linear 0.5s normal none infinite running load;
      background: #2a00ff none repeat scroll 0 0;
    }

    &:nth-child(7n+6) {
      transform: rotate(270deg);
    }

    &:nth-child(7n+6)::before {
      animation: 0.8s linear 0.6s normal none infinite running load;
      background: #9500ff none repeat scroll 0 0;
    }

    &:nth-child(7n+7) {
      transform: rotate(315deg);
    }

    &:nth-child(7n+7)::before {
      animation: 0.8s linear 0.7s normal none infinite running load;
      background: magenta none repeat scroll 0 0;
    }

    &:nth-child(7n+8) {
      transform: rotate(360deg);
    }

    &:nth-child(7n+8)::before {
      animation: 0.8s linear 0.8s normal none infinite running load;
      background: #ff0095 none repeat scroll 0 0;
    }
  }
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  @include size(180px, 20px);
  background-image: url('/');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
