@import './components/top-bar/top-bar';
@import './components/bottom-bar/bottom-bar';
@import './components/temperature/temperature';

.weather {
  @include flex(column, center, center);
  @include size(100%, 100vh);

  &__wrapper {
    @include flex(column, center, center);
    @include size(100%, 100%);
    max-width: 1000px;
  }
}

.current-weather {
  @include flex(column, center, center);
  @include size(100%, 100%);

  h2 {
    margin-top: 0;
    font-weight: 200;
  }
}
